@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  --primaryFont: "Playfair Display", serif;
}

/* GENERAL STYLES  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--primaryFont);
  font-size: 10px;
}

/* HEADER STYLES  */
#header {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9d8a6;
  background-color: #e76f51;
  font-size: 1.5rem;
}

.middleHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 10rem;
}

.middleHeaderFonts {
  text-align: center;
}


/* TO-DO SECTION STYLES  */

#todo-section {
  width: 100%;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafafafa;
}

.todo-intro {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  min-height: 19rem;
  text-align: center;
  color: #2a9d8f;
}

.todo-intro h2 {
  font-size: 3rem;
}

.todo-intro p {
  font-size: 2rem;
}

.absentInfo {
    margin-top: 2rem;
    color: #2a9d8f;
}

.to-do {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem 0;
  min-height: 25rem;
  width: 70%;
  background-color: #c2c5aa;
}

.to-do input {
  width: 40%;
  height: 4.5rem;
  padding-left: 1rem;
  border: grey;
  font-style: italic;
  border-radius: 0.3rem;
}

.to-do input:last-of-type {
  display: none;
}

.to-do input:focus {
  outline: 0.2rem solid #e9d8a6;
}

.top-to-do {
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do .top-to-do button {
  width: 6rem;
  height: 4.5rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in;
  border-radius: 0.3rem;
}

#getInput {
    background-color: #2a9d8f;
}

#editInput {
    background-color: #264653;
    color: #FFFFFF;
    display: none;
}

.to-do .top-to-do button:hover {
  background-color: aliceblue;
}

.todo-list ul li {
  margin-top: 1.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
  text-align: left;
  font-size: 2.5rem;
  color: #264653;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "todo button";
}

.todo-list ul li:hover {
    background-color: #dddddd;
}

.todo-list ul li p {
  grid-area: todo;
  justify-self: left;
  margin-left: 5rem;
}

.li-buttons {
  height: 4rem;
  grid-area: button;
  justify-self: center;
  cursor: pointer;
  width: 4rem;
  background-color: #2a9d8f;
  color: #264653;
  border: none;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.li-buttons:hover {
  background-color: #264653;
  color:  #2a9d8f;
}

.todo-list ul li button:first-of-type {
  margin-left: 10rem;
}



@media screen and (max-width: 728px) {
  .to-do {
    border-radius: 0.5rem;
    margin: 1rem 0;
    min-height: 30rem;
    width: 95%;
  }

  .to-do input {
    width: 70%;
    height: 4rem;
    padding-left: 1rem;
  }

  .to-do .top-to-do button {
    height: 4rem;
  }

  .todo-list ul li {
    grid-template-columns:  50% 50%;
  }

  .todo-list ul li p {
    margin-left: 1rem;
    word-break: break-word;
  }

  .todo-list ul li button:first-of-type {
    margin-left: 9rem;
  }
  
}